{% extends 'base.html' %}

{% block head %}
<title>Aplikasi Stock Barang</title>
{% endblock %}

{% block body %}
<h1>Aplikasi Stock Barang</h1>
<br>
<h3>Masukkan barang anda:</h3>
<form action="/" method="POST">
    <div class="form-group">
        <label for="nama_barang">Nama :</label>
        <input type="text" class="form-control" name="nama_barang" id="nama_barang" aria-describedby="nama_barang"
            placeholder="Masukkan Nama Barang">
    </div>
    <div class="form-group">
        <label for="jumlah_barang">Jumlah :</label>
        <input type="number" class="form-control" name="jumlah_barang" id="jumlah_barang" aria-describedby="jumlah_barang"
            placeholder="Masukkan Jumlah Barang">
    </div>
    <div class="form-group">
        <label for="harga_beli_barang">Harga Beli :</label>
        <input type="number" class="form-control" name="harga_beli_barang" id="harga_beli_barang" aria-describedby="harga_beli_barang"
            placeholder="Masukkan Harga Beli Barang">
    </div>
    <div class="form-group">
        <label for="harga_jual_barang">Harga Jual :</label>
        <input type="number" class="form-control" name="harga_jual_barang" id="harga_jual_barang" aria-describedby="harga_jual_barang"
            placeholder="Masukkan Harga Jual Barang">
    </div>
    <div class="form-group">
        <label for="diskon">Diskon :</label>
        <input type="number" class="form-control" name="diskon" id="diskon" aria-describedby="diskon"
            placeholder="Masukkan Diskon">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<br>
<h3>List Barang</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Nama Barang</th>
            <th scope="col">Jumlah</th>
            <th scope="col">Harga Beli</th>
            <th scope="col">Harga Jual</th>
            <th scope="col">Diskon</th>
            <th scope="col">Jumlah</th>
            <th scope="col">Tanggal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <th scope="row">{{ post.id }}</th>
            <td>{{ post.nama_barang }}</td>
            <td>{{ post.jumlah_barang }}</td>
            <td>{{ "Rp{:,.2f}".format(post.harga_beli_barang) }}</td>
            <td>{{ "Rp{:,.2f}".format(post.harga_jual_barang) }}</td>
            <td>{{ "{:,.1f}".format(post.diskon) }}%</td>
            <td>{{ "Rp{:,.2f}".format(post.jumlah_total) }}</td>
            <td>{{ post.tanggal_pembuatan }}</td>
            <td>
                <a class="btn btn-secondary" href="/edit/{{ post.id }}">Edit</a>
                <br>
                <br>
                <a class="btn btn-danger" href="/delete/{{ post.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}